    
  <%- include('../layouts/header') %>
  <%- include('../layouts/menu') %>

  <section class="section hero is-link is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          Papelaria
        </h1>
        <h2 class="subtitle">
          Gerenciando Estoque
        </h2>
	<a href="/showCategories" class="button is-light is-medium">Ir para Listas de Produtos!</a>
      </div>
    </div>
  </section>

  <%- include('../layouts/footer')%>

